.image-box-home {
    position: absolute;
    left: 2rem;
    top: 31rem;
}

.image-box-home img {
    max-width: 70%;
    height: auto; 
}

.bio-box h2 {
    font-size: 1.7rem;
    font-weight: 900;
}

.bio-box p {
    font-size: 1.3rem;
    font-weight: 300;
}