* {
    box-sizing: border-box;

}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    line-height: 2;
}

h1 {
    font-size: 5rem;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 5rem;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60rem;
    background-image: url('../assets/background.jpg');
    background-size: 100% 100%;
    background-position: center;
}

.nav {
    background-color: #969696;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
}

.nav .site-logo {
    display: block;
}

.site-logo img {
    width: 70%;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    width: 40%;
    gap: 1rem;
    font-size: 1.3rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    color: blue;
    font-size: 1.5rem;
    font-weight: 1000;
}

.nav li:hover {
    color: black;
    font-size: 1.7rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #969696;
    color: white;
    bottom: 0;
    width: 100%;
}

.footer p {
    padding: 0.7rem;
}

.jac {
    max-width: 55%;
    margin-left: 5rem;
}

@media (max-width: 1440px){
    .site-logo img {
        margin-top: 2.5%;
    }
    
}

@media (max-width: 1200px) {
    .nav {
        padding: 1rem;
        gap: 1rem;
    }

    .site-logo img {
        margin-top: 3%;
        width: 100%;
    }

    .nav ul {
        width: 50%;
    }
}

@media (max-width: 1000px) {
    .page-container {
        width: 100%;
    }

    .nav {
        padding: 0.5rem;
        gap: 0.5rem;
    }

    .site-logo img {
        margin-top: 3%;
        width: 70%;
    }

    .nav ul {
        width: 60%;
        font-size: 1rem;
    }
}

@media (max-width: 650px) {
    .nav {
        padding: 0.25rem;
        gap: 0.25rem;
    }

    .site-logo img {
        margin-top: 8%;
        width: 90%;
    }

    .nav ul {
        width: 70%;
        font-size: 0.9rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2,
    h3 {
        font-size: 1.1rem;
    }

    p {
        font-size: 0.8rem;
    }

    ul li {
        font-size: 0.7rem;
    }
}

@media (max-width: 580px) {
    .site-logo img {
        margin-top: 7%;
        width: 70%;
    }


}

@media (max-width: 530px) {
    .nav {
        padding: 0.2rem;
        gap: 0.2rem;
    }

    .site-logo img {
        width: 90%;
    }

    .nav ul {
        width: 80%;
        font-size: 0.8rem;
    }

    h3 {
        font-size: .7rem;
    }

    p {
        font-size: .6rem;
    }

    .site-logo img {
        display: none;
    }

    .jac {
        display: none;
    }
    .nav {
        padding: 0rem;
        gap: 0rem;
    }

    .nav ul {
        width: 100%;
    }
}